.arrow,
.arrowUp {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.arrow {
  transform: rotate(135deg);
}

.arrowUp {
    transform: rotate(-45deg);
}

